*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);   
}
.container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-height: 90vh;
    margin: 0 auto;
    overflow: auto;
    box-sizing: border-box;
}

main{
 
  background-color: #333b4d;
  border: 1px solid rgb(209, 210, 223);
  border-top: none;
  border-radius: 0 15px 15px 15px;
}
.navigation{
    display: flex;
    line-height: 60px;
    text-decoration: none;
    color: #eee;
}
.menu-item{
   
    border-radius: 10px 10px 0 0;
    margin-right: 2px;
    text-align: center;
    height: 60px;
    width: 150px;
    background-color: #888b94;
}.menu-item:last-child{
    border-right: 2px solid rgb(209, 210, 223);
}

.menu-item:hover{
    background-color: rgb(191, 190, 201);
}
.col-1, .col-2{
    transition: all 2s;
    overflow: hidden;
}

.active{
    background-color:  #333b4d;
}
.main{
    color: #444;
    display: flex;
}
.add-task-box input, textarea, form, select, button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    display: block;
}

.add-task-box select option{
    background: rgba(255,255,255,0.2);
    color: #444;
}
.add-task-box input, .add-task-box select, textarea{
    width: 100%;
    background: transparent;
    background-color: rgba(151, 149, 160, 0.2);
    border-radius: 10px;    
    border: none;
    outline: none;
    color: #eee;
}
input, textarea{
    transition: transform 0.5s;
}
input:focus, textarea:focus{
    transform: scale(1.03);
}
.add-task-box label, .add-task-box input::placeholder, .add-task-box textarea::placeholder{
    color: #eee;
}
.add-task-box button{
    transition: transform 0.5s;
    font-size: 20px;
    width: 100%;
    background: transparent;
    padding: 10px 20px;
    border: 2px solid #eee;
    border-radius: 20px;
    color: #eee;
    background-color: rgba(255,255,255,0.2);
}
.add-task-box button:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.596);
    color: #555;
}
.add-task-box{
    width: 50%;
}
.tasks-box{
    height: 100%;
    width: 50%;
    padding: 10px;
}
.tasks-box ul {
    height: 600px;
    overflow: auto;
    width: 100%;
    list-style: none;
}
.tasks{
   
}
.list-item{
    overflow: hidden;
    margin: 10px;
    position: relative;
    border-radius: 15px;
    padding: 10px;
    color: #eee;
    background-color: rgba(151, 149, 160, 0.2);
}
.task-title{
    display: inline-block;
    margin: 5px;
}
.delete-cross{
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    float: right;
}
.priority{
    display: inline-block;
    border: 2px solid #eee;
    border-radius: 7px;
    padding: 7px;
    color: gold;
}
.option-icons .fas, .option-icons .far{
    display: block;
    margin: 4px;
}
.option-icons{
    border-right: 2px solid #eee;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
}
.show-content{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
}
.arrow{
    transition: transform 0.5s;

}
.time-box{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 10px  0;
}
.task-content{
    display: none;
}
.trash{
    display: none;
    height: 81vh;
}
.settings{
    display: none;
    height: 81vh;
}
.contact{
    display: none;
    height: 81vh;
}
